# List Tuples For loop

In [2]:
names : list[str] = ['Ahmed', 'Maheen']
print(names)

['Ahmed', 'Maheen']

In [4]:
names : list[str] = ['Ahmed', 'Maheen', 'Saba']

for name in names:
    print(name)

Ahmed
Maheen
Saba

# Syntax

In [9]:
names : list[str] = ['ahmed', 'Maheen', 'Saba']

for name in names:
    print(f'Welcome {name.title()}! to the team.')

Welcome Ahmed! to the team.
Welcome Maheen! to the team.
Welcome Saba! to the team.

In [11]:
names : list[str] = ['ahmed', 'Maheen', 'Saba']

for name in names:
    print(f'Welcome {name.title()}! to the team.')

    print("PIAIC Modern python course") #indented code will be part of body

Welcome Ahmed! to the team.
Welcome Maheen! to the team.
Welcome Saba! to the team.
PIAIC Modern python course

In [15]:
data_base : list[tuple[str, str]] = [("Ahmed", "123"),
                                     ("Maheen", "456"),
                                     ("Saba", "789"),

]

for row in data_base:
    print(row)

('Ahmed', '123')
('Maheen', '456')
('Saba', '789')

In [23]:
data_base : list[tuple[str, str]] = [("Ahmed", "123"),
                                     ("Maheen", "456"),
                                     ("Saba", "789"),

]

for row in data_base:
    (user_name, passw) = row
    print(user_name, passw)

Ahmed 123
Maheen 456
Saba 789

In [26]:
data_base : list[tuple[str, str]] = [("Ahmed", "123"),
                                     ("Maheen", "456"),
                                     ("Saba", "789"),

]
input_user : str = input("Enter username: ")
input_pass : str = input("Enter password: ")

for row in data_base:
    (user_name, passw) = row
    if input_user == user_name and input_pass == passw:
        print("User validated")
        break
else: # this else belongs to For loop not If block
    print("Invalid User")
#print(user_name, passw)

Invalid User
Saba 789

In [1]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician)

alice
david
carolina

In [4]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
    print("I can't wait to see your next trick, " + magician.title() + ".\n")

    print("Thank you everyone, that was a great magic show!") #unnecessary indentation will print in every iteration instead of just 1 time

Alice, that was a great trick!
I can't wait to see your next trick, Alice.

Thank you everyone, that was a great magic show!
David, that was a great trick!
I can't wait to see your next trick, David.

Thank you everyone, that was a great magic show!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

Thank you everyone, that was a great magic show!

In [3]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(magician.title() + ", that was a great trick!")
print("I can't wait to see your next trick, " + magician.title() + ".\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

# Range function

In [6]:
range(10)

range(0, 10)

In [14]:
list(range(2,21,2))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [16]:
for n in range(2,21,2):
    print(n)

2
4
6
8
10
12
14
16
18
20

In [17]:
magicians = ['alice', 'david', 'carolina']
for index,magic in enumerate(magicians):
    print(index, magic)

0 alice
1 david
2 carolina

In [19]:
for index,tab in enumerate(range(2,21,2)):
    print(f'2 x {index+1} = {tab}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [23]:
# without Enum
for n in range(1,21):
    print(f'{2} x {n} = {n*2}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
2 x 11 = 22
2 x 12 = 24
2 x 13 = 26
2 x 14 = 28
2 x 15 = 30
2 x 16 = 32
2 x 17 = 34
2 x 18 = 36
2 x 19 = 38
2 x 20 = 40

In [25]:
squares :list[int] = []
for value in range(1,11):
 square = value**2
 squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# List Comprehension

In [26]:
[i**2 for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [29]:
digits : list[int] = [1,2,3,4,5,6,7,8,9]
print(digits)
print(max(digits))
print(min(digits))
print(sum(digits))

[1, 2, 3, 4, 5, 6, 7, 8, 9]
9
1
45

# Tuple immutable

In [31]:
name_tup : tuple[str] = ('A', 'B', 'C')

print(name_tup)
print(name_tup[0])
print(name_tup[0:2])

('A', 'B', 'C')
A
('A', 'B')

In [32]:
#doesn't allow any update/modification
name_tup : tuple[str] = ('A', 'B', 'C')

print(name_tup)
name_tup[0] = 'Ahmed'

('A', 'B', 'C')

TypeError: 'tuple' object does not support item assignment

In [33]:
#update via reassigned
name_tup : tuple[str] = ('A', 'B', 'C')

print(name_tup)
name_tup : tuple[str] = ('Pakistan', 'B', 'C')
print(name_tup)

('A', 'B', 'C')
('Pakistan', 'B', 'C')

In [36]:
from typing import Any

data : tuple[Any] = ('A', [1,2,3], True)
print(data)

data[1].append(20)  # appending the list inside the tuple
print(data)

('A', [1, 2, 3], True)
('A', [1, 2, 3, 20], True)