#String data type

In [4]:
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
print(name)
print(fname)

Ahmed Hashim
Hashim Muhammad

In [8]:
message : str = "PIAIC Student Card \n Father's Name"
print(message)

PIAIC Student Card
 Father's Name

In [10]:
#place backslash \ before special char to print
message : str = 'PIAIC Student Card \n Father\'s Name'
print(message)

PIAIC Student Card
 Father's Name

In [16]:
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
edu : str = "Master in Data Science and AI"
age : int = 40

card : str = "PIAIC Student Card\nStudent Name: " + name + "\nAge: " + str(age)

print(card)

PIAIC Student Card
Student Name: Ahmed Hashim
Age: 40

#define multiline string

In [18]:
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
edu : str = "Master in Data Science and AI"
age : int = 40

card : str = """
PIAIC Student Card
Student Name:  .....
Father's Name: .....
Education:     .....
Age:           .....   

"""

print(card)

PIAIC Student Card
Student Name:  .....
Father's Name: .....
Education:     .....
Age:           .....

#F-string

In [20]:
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
edu : str = "Master in Data Science and AI"
age : int = 40

card : str = f"""
PIAIC Student Card
Student Name:  {name}
Father's Name: {fname}
Education:     {edu}
Age:           {age}   

"""

print(card)

PIAIC Student Card
Student Name:  Ahmed Hashim
Father's Name: Hashim Muhammad
Education:     Master in Data Science and AI
Age:           40

In [21]:
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
edu : str = "Master in Data Science and AI"
age : int = 40

card : str = f"""
PIAIC Student Card
Student Name:  %s
Father's Name: %s
Education:     %s
Age:           %d   

""" % (name, fname, edu, age)

print(card)

PIAIC Student Card
Student Name:  Ahmed Hashim
Father's Name: Hashim Muhammad
Education:     Master in Data Science and AI
Age:           40

#String methods

In [25]:
name : str = "Ahmed Hashim"
print(name.capitalize())
print(name.lower())
print(name.upper())
print(name.casefold())

Ahmed hashim
ahmed hashim
AHMED HASHIM
ahmed hashim

#Format method

In [2]:
a = 75
b = 8
"Pakistan value a = {} value b = {}".format(a,b)

'Pakistan value a = 75 value b = 8'

In [1]:
#format string with variables placeholders
name : str = "Ahmed Hashim"
fname : str = "Hashim Muhammad"
edu : str = "Master in Data Science and AI"
age : int = 40

card : str = """
PIAIC Student Card
Student Name:  {a}
Father's Name: {b}
Education:     {c}
Age:           {d}   

""" .format(a=name, b=fname, c=edu, d=age)

print(card)

PIAIC Student Card
Student Name:  Ahmed Hashim
Father's Name: Hashim Muhammad
Education:     Master in Data Science and AI
Age:           40

#String methods and Attributes