# Python Operators
* Arithmatic
* Assignment
* Comparision
* Logical
* identity
* Membership
* Bitwise

In [3]:
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [7]:
print(2**2)
print(2**4)

4
16

In [9]:
print(14 / 3)    #simple division
print(14 // 3)   #floor division

4.666666666666667
4

# **Python Assignment Operators**

In [11]:
table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [13]:
a : int = 7
print(a)
a += 2
print(a)

7
9

In [19]:
for i in range(0,91):
    print(chr(i))

 

































!
"
#
$
%
&
'
(
)
*
+
,
-
.
/
0
1
2
3
4
5
6
7
8
9
:
;
<
=
>
?
@
A
B
C
D
E
F
G
H
I
J
K
L
M
N
O
P
Q
R
S
T
U
V
W
X
Y
Z

In [21]:
ord('a')

97

# Python Logical Operators
AND OR NOT

In [25]:
#and
x = 10
print(x > 5 and x < 15)

#This returns True because 10 is greater than 5 AND 10 is less than 15.


#or
x = 10
print(x > 5 or x < 2)

#This returns True because one of the conditions are true.
#10 is greater than 5, but 10 is not less than 2.


#not
x = 10
print(not(x > 5 and x < 15))
#This returns False because not reverses the result of and.
name : str = "Ahmed"
print(name != "Ahmed Hashim")

True
True
False
True

# Python Identity Operators
is
is not

In [29]:
x : str = 'abc'
y : str ='abc'

print(id(x))
print(id(y))

140732998985776
140732998985776

In [30]:
x is y

True

# Python Membership Operators
in
not in

In [31]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [33]:
names : list[str] = [chr(i) for i in range(65,91)]
#names
for i in range(len(names)):
    print(i, names[i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z